
    <!-- Problem Grid Section -->
    <section id="problem">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                  <div class="row">
                  <div class="col-lg-12 text-center">
                    <h2>Problem</h2>
                    <hr class="small">
                  </div>
                  </div
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
                            </span>
                                <h4>
                                    <strong>$11+ Billion</strong>
                                </h4>
                                <p>Money the US spends on academic research is not spent effectively.</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-chain-broken fa-stack-1x fa-inverse"></i>
                            </span>
                                <h4>
                                    <strong>Research disconnected from civic priorities</strong>
                                </h4>
                                <p>
                                	The civic sector doesn’t have a good connector between innovation and reality.
								</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-random fa-stack-1x fa-inverse"></i>
                            </span>
                                <h4>
                                    <strong>Millions spent on irrelevant research</strong>
                                </h4>
                                <p> Top-down research funding can fund irrelevant or outdated issues and technology.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
						<div class="col-md-6 col-sm-6 col-md-offset-1 text-left">
						<h3>
                        	<strong>Meanwhile, Important Research Needs are Left Unmet</strong>
                        </h3>
                        	<p>In 2010, city employees submitted a research needs statement
                        	   highlighting the urgent need to research bicycle safety at 
                        	   intersections</p>
                        	<p>Since then, hundreds of cyclists have been killed or seriously
                        	   injured in the streets of Seattle each year and many more 
                        	   nationwide.</p>
                        	<p>Despite the critical nature of this research, it has remained
                        	   unfunded and on the shelf.  Unfortunately this is not uncommon.  Why?</p>
						</div>
                    </div>
                     <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
                            </span>
                                <h4>
                                    <strong>Costly to contract</strong>
                                </h4>
                                <p>Contracting with universities can cost a lot of time and money.  
									It can cost $20,000 to get a $30,000 contract signed.
								</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                            </span>
                                <h4>
                                    <strong>Years to get contracting done</strong>
                                </h4>
                                <p>
                                	It can take up to two years to contract with a university 
                                	to conduct research – far too long to make the research
                                	results relevant to upcoming policy and design decisions.
								</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-arrows fa-stack-1x fa-inverse"></i>
                            </span>
                                <h4>
                                    <strong>Hard to find the right expert</strong>
                                </h4>
                                <p>
                                	It can be difficult to find the best expert for the 
                                	subject matter at hand that has time and availability
                                	to conduct research.  They might not be at your local 
                                	state university.
                                </p>
                            </div>
                        </div>
                    </div>

                <!-- /.col-lg-10 -->
            </div>
            </div>
        </div>
    </section>