<!-- Progress Grid Section -->
<section id="progress">
	<div class="container">
	<div class="row text-center">
	<div class="col-lg-10 col-lg-offset-1">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Progress</h2>
				<hr class="small">
  			</div
         </div>
		 <div class="row">
		 	<div class="col-md-2 col-md-offset-5 text-center">
        		<i class="fa fa-comments-o fa-4x"></i>
			</div>
			<div class="col-md-5 text-left">
				<p><b>Market Research and Landscape Analysis</b> confirmed that there 
				was tremendous demand for this solution and nobody else effectively solving 
				this problem. 
			</div>
		</div>
		
		<div class="row">
		 	<div class="col-lg-5 text-right">
				<p><b>Fundraise $50,000</b> We are currently trying to rais $50,000 
				to fund our proof of concept work.  
			</div>
			<div class="col-md-2 text-center">
        		<i class="fa fa-money fa-4x"></i>
			</div>
		</div>
		<div class="row">
		 	<div class="col-md-2 col-md-offset-5  text-center">
        		<i class="fa fa-files-o fa-4x"></i>
			</div>
			<div class="col-lg-5 text-left">
				<p><b>Proof of Concept</b> We will be completing a proof of concept contracting 
				exercise [ in all likelihood with University of Washington ] in order to work out 
				the kinks before we scale.  
			</div>
		</div>
		<div class="row">
		 	<div class="col-md-5 text-right">
					<p><b>Fundraise $500,000</b> We anticipate needing $500,000 over two years 
					to fund the user experience development, the lawyers for pre-contracting,
					and community management.</p>
			</div>
			<div class="col-md-2 text-center">
        			<i class="fa fa-money fa-4x"></i>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 col-md-offset-5 text-center">
        		<i class="fa fa-clipboard fa-4x"></i>
			</div>
			<div class="col-lg-5 text-left">
				<p><b>Conduct Pre-Contracting with Universities</b> in order to be ready 
				when they are needed.</p>
			</div>
		</div>
		<div class="row">
		 	<div class="col-md-5 text-right">
					<p><b>Develop User Experience</b> Develop the online user experience 
					and backend technology to be accessible and transparent to practitioners.</p>
			</div>
			<div class="col-md-2 text-center">
        			<i class="fa fa-gear fa-4x"></i>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 col-md-offset-5 text-center">
        		<i class="fa fa-flask fa-4x"></i>
			</div>
			<div class="col-lg-5 text-left">
				<p><b>Launch! [ 2016 ]</b></p>
			</div>
		</div>
		<div class="row">
		 	<div class="col-md-5 text-right">
					<p><b>Iterate and Expand</b> While we are starting in the fields of
					Urban issues and Transportation, we hope to expand to other civic fields 
					soon.</p>
			</div>
			<div class="col-md-2 text-center">
        			<i class="fa fa-repeat fa-4x"></i>
			</div>
		</div>
	
	
	</div>
	</div>
	</div>

</section>
