    <!-- Solution -->
    <section id="solution">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Solution</h2>
                    <hr class="small">
                    
                </div>
            </div>
            <div class="row">
            	<div class="col-md-4  text-left">
					<p>ResearcHQ is a marketplace that connects civic practitioners directly
					with researchers cheaply, quickly, and effectively. ResearcHQ will collect a small 
                    fee from each successful match in order to support its ongoing operations.</p>
                    <p>As a result, we will 
                    <ul>
                    	<li>save society millions of dollars each year that 
                    can be put to better use;
                    	<li>focus research efforts on issues that matter; and
                    	<li>get research results quick enough to have an effect on policy and design.
                    </ul>
                    <b>Our impact is policy and design that can save lives and improve livelihoods</b>
                    </p>
                    <p>[ and we are committed to measuring it ]
                    </div>
                    <div class="col-sm-7 col-md-offset-1 services-item">
                            <div class="caption">
                                <div class="caption-content">
                                    <h4>Step 1 - Secure access to quality researchers</h4>
                                </div>
                            </div>
                           <div class="row">
                           	  <div class="col-sm-4">
                            	<img src="img/step1.png" class="img-responsive" alt="hi">
                              </div>
                              <div class="col-sm-6">
                            	<p>Execute master contract agreements in advance between 
                            	ResearcHQ and academic institutions using the pooled demand
                            	to leverage favorable terms and conditions for open research.</p>
                              </div>
                           </div>
 
                            <div class="caption">
                                <div class="caption-content">
                                    <h4>Step 2 - Match civic practitioners' questions with qualified researchers</h4>
                                </div>
                            </div>
                           <div class="row">
                           	  <div class="col-sm-4">
                            	<img src="img/step2.png" class="img-responsive" alt="hi">
                              </div>
                              <div class="col-sm-6">
                            	<p>When a civic practitioner has a research need, it will 
                            	be distributed through the ResearcHQ community to appropriate 
                            	researchers who can indicate their interest and ideas.  The 
                            	researcHQ platform will also make it easy to find collaborators, 
                            	take suggestions, and even learn about existing research that 
                            	may obviate their need.</p>
                              </div>
                           </div>

                            <div class="caption">
                                <div class="caption-content">
                                    <h4>Step 3 - Execute the successful match</h4>
                                </div>
                            </div>
                           <div class="row">
                           	  <div class="col-sm-4">
                            	<img src="img/step3.png" class="img-responsive" alt="hi">
                              </div>
                              <div class="col-sm-6">
                            	<p>Once matched with a research team, researcHQ will help
                            	the civic practitioner produce the needed paperwork, 
                            	payment processing, and backup data required of public 
                            	institutions and will provide a seamless transition to
                            	making the research data, methods, and results publicly 
                            	available.</p>
                              </div>
                           </div>
                    </div>
            </div>
            <div class="row">
            	<h3> Measuring Ourselves</h3>
            	<br>
            	<div class="col-md-3  text-left">
            		<br><br><br>
            		<img src="img/measure.png" class="img-responsive" alt="hi">
            	</div>
            	<div class="col-md-8  text-left">
            	  <p>  We have identified the following goals and are committed to measuring them:</p>
				  <ul>
					<li><b>Reduce transaction costs for research for civic good by over 25%</b>, 
					which would potentially save $5m of philanthropic funding and $100m in 
					government funding per year.</li>
					<li><b>Increase the number of the 4.1 million graduate students in the 
					U.S. who receive research funding</b>, particularly for applied research 
					on civic and social impact issues. A simple reinvestment of the savings 
					would result in 2,000 more students receiving full funding for socially 
					important research and tuition per year rather than driving them to 
					industry-subsidized research areas.</li>
					<li><b>Decrease the turn-around time</b> between research needs identification 
					and policy-ready answers from approximately 5-10 years to 1-2 years,
					 which will save governments millions of dollars in implementing less 
					 efficient solutions.</li>
					<li><b>Increased research partnerships</b> and better matchmaking between 
					researchers and practitioners will make each research dollar more 
					effective and relevant.</li>
				   </ul>
				 </div>
				 
        </div>
    </section>