<!-- Team Grid Section -->
<section id="team">
	<div class="container">
	<div class="row text-center">
	<div class="col-lg-10 col-lg-offset-1">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Team</h2>
				<hr class="small">
  			</div
         </div>
		 <div class="row">
		 	<div class="col-md-2 text-left">
        		<img src="{{ site.baseurl }}/img/team/elo.jpg" class="img-responsive img-circle img-team" alt="">
				<hr>
				<div class="muted">
					<p><b>Elizabeth Sall</b> Executive Director</p>
				</div>
			</div>
			<div class="col-lg-5 text-left">
				<p> The ResearcHQ.org team is led by <a href="http://www.linkedin.com/pub/elizabeth-sall/1/a85/207">
					Elizabeth Sall</a>, the former Deputy Director for Technology, Data, and Analysis at the 
					<a href="www.sfcta.org/modeling">S.F. County Transportation Authority</a>.  Elizabeth decided 
					to start ResearcHQ.org after being consistently frustrated by the difficulties 
					of executing small contracts with Academic institutions while working in government.  
				<p>
					Elizabeth has experience in multiple sectors: government, non-profit, 
					and academia.  She holds several appointments to committees of the Transportation 
					Research Board, has served on the department-level advisory board at her alma-mater 
					N.C. State University, and is a frequent lecturer at universities.  Elizabeth is a 
					frequent presenter and organizer of civic technology conferences, has pioneered an academic 
					research program at the SFCTA and continues to lead government-funded research projects 
					with cross-sector teams.  In the non-profit sector, she has experience as both a funder 
					and oversight board-member in working with academic researchers. 
			</div>
		</div>
		<div class="row text-left">
			<h3>Board</h3>
		 	<div class="col-md-4 text-left">
        		<img src="{{ site.baseurl }}/img/team/zabe.png" class="img-responsive img-circle img-team" alt="">
				<hr>
				<div class="muted">
					<p><b>Zabe Bent</b> (Chair)</p>
					<p> Zabe serves as the ResearcHQ.org board chair.  Zabe has over ten years
				of experience in civic service and is currently a principal at Nelson/Nygaard 
				consulting.
				</div>
			</div>

		 	<div class="col-md-4 text-left">
        		<img src="{{ site.baseurl }}/img/team/alison.png" class="img-responsive img-circle img-team" alt="">
				<hr>
				<div class="muted">
					<p><b>Alison Conway, Ph.D.</b></p>
					<p> Alison is a professor at the City University of New York and is an ex-officio 
				member the Executive Committee of the Transportation Research Board 
				Executive Committee (part of the National Academy of Sciences).
				</div>
			</div>

		 	<div class="col-md-4 text-left">
        		<img src="{{ site.baseurl }}/img/team/jason.png" class="img-responsive img-circle img-team" alt="">
				<hr>
				<div class="muted">
					<p><b>Jason Haggins, C.P.A., M.B.A.</b></p>
					<p> Jason is a senior director at Alvarez and Marsal and has extensive 
				expertise in accounting, contracting, and management. 
				</div>
			</div>
		</div>
		<div class="row text-left">
			<h3>Special Thanks</h3>
			<p>
			<div class="row">
		 		<div class="col-md-2 text-left">
        		<img src="{{ site.baseurl }}/img/chris-beer.png" class="img-responsive img-circle img-team" alt="">
				</div>
				<div class="col-md-8 text-left">
					<div class="muted">
						<br>
						<p><b>Chris Beer</b> 
						<br>Ironmark Law Group</p>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
		 		<div class="col-md-2 text-left">
        		<img src="{{ site.baseurl }}/img/uw.png" class="img-responsive img-circle img-team" alt="">
				</div>
				<div class="col-md-8 text-left">
					<div class="muted">
						<p><b>Dr. Mark Hallenbeck<br>Prof. Thaisa Way </b> <br>University of Washington</p>
					</div>
				</div>
			</div>
	</div>
	</div>
	</div>

</section>
